<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>勉強スケジュール</h1>
	<table rules="none" border="1">
	<tr><th>日付</th> <th>科目</th> <th>備考欄</th></tr>
	<tr th:each="c:${customers}">
		<td th:text="${c[0]}"></td>
		<td th:text="${c[1]}"></td>
		<td th:text="${c[2]}"></td>
	</tr>
	</table>
	
<!-- <h1>顧客リスト</h1>
	<table>
	<tr><th>名前</th> <th>年齢</th> <th>性別</th></tr>
	<tr th:each="c:${customers}">
		<td th:text="${c[0]}"></td>
		<td th:text="${c[1]}"></td>
		<td th:text="${c[2]}"></td>
	</tr>
	</table> -->
</body>
</html>